Repository awendland/wasm_spec_kernel: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfile-lint, markdown-lint, poetry-lint

.pre-commit-config.yaml:

---
repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: a11d9314b22d8f8c7556443875b731ef05965464
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: detect-private-key

  - repo: git://github.com/luminopia/pre-commit-hooks
    rev: v0.0.6
    hooks:
      - id: enforce-action-comments

  - repo: git://github.com/pre-commit/mirrors-prettier
    rev: v2.1.2
    hooks:
      - id: prettier

  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.1
    hooks:
      - id: flake8
        additional_dependencies: [flake8-bugbear]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.790
    hooks:
      - id: mypy

  - repo: local
    hooks:
      # https://github.com/hadolint/hadolint
      - id: dockerfile-lint
        name: Dockerfile Lint
        language: docker_image
        entry: hadolint/hadolint:v1.7.0 hadolint
        files: ^.*Dockerfile.*$

      # https://github.com/koalaman/shellcheck
      - id: shellcheck-lint
        name: Shellcheck
        language: docker_image
        entry: koalaman/shellcheck:v0.5.0
        types: [shell]

      # https://github.com/igorshubovych/markdownlint-cli
      - id: markdown-lint
        name: Markdown Lint
        language: node
        additional_dependencies: [markdownlint-cli]
        entry: markdownlint
        types: [markdown]
        args: [--config, .markdownlintrc]

      - id: poetry-lint
        name: Poetry (python package manager) Lint
        language: system
        entry: python -m poetry check
        pass_filenames: false
        files: pyproject.toml

WIP successfully able to handle first batch of wasm REPL test cases
  simple_wasm_kernel/replwrapper.py
  test_repl.py
Due: none

WIP refactor wasm replwrapper to have better naming and documentation
  simple_wasm_kernel/replwrapper.py
  simple_wasm_kernel/wasm_replwrap.py
  test_repl.py
Due: none

WIP add tests for WasmREPLWrapper
  playground.py
  pyproject.toml
  simple_wasm_kernel/defs.py
  simple_wasm_kernel/wasm_replwrap.py
  tests/__init__.py
  tests/test_wasm_replwrap.py
Due: poetry-lint

FIXUP update poetry.lock
  poetry.lock
Due: none

build: Manage python-based pre-commit hooks in poetry instead of via pre-commit
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: poetry-lint

build: Update pre-commit hooks from Luminopia to v0.0.11 (latest)
  .pre-commit-config.yaml
Due: none

feat(kernel): handle interrupts by restarting wasm repl; refactor kernel; add kernel tests
  simple_wasm_kernel/__main__.py
  simple_wasm_kernel/defs.py
  simple_wasm_kernel/install.py
  simple_wasm_kernel/kernel.py
  simple_wasm_kernel/wasm_replwrap.py
  tests/conftest.py
  tests/test_kernel.py
  tests/test_wasm_replwrap.py
Due: none

feat(wasm_replwrap): implement a custom REPLWrapper for wasm
  poetry.lock
  pyproject.toml
  simple_wasm_kernel/__main__.py
  simple_wasm_kernel/defs.py
  simple_wasm_kernel/install.py
  simple_wasm_kernel/kernel.py
  simple_wasm_kernel/wasm_replwrap.py
  tests/__init__.py
  tests/conftest.py
  tests/test_kernel.py
  tests/test_wasm_replwrap.py
Due: poetry-lint

feat!: rename to wasm_spec_kernel
  .pre-commit-config.yaml
  README.md
  bin/check_metadata.py
  poetry.lock
  pyproject.toml
  simple_wasm_kernel/__init__.py
  tests/test_kernel.py
  tests/test_wasm_replwrap.py
  wasm_spec_kernel/__init__.py
  wasm_spec_kernel/__main__.py
  wasm_spec_kernel/defs.py
  wasm_spec_kernel/install.py
  wasm_spec_kernel/kernel.py
  wasm_spec_kernel/wasm_replwrap.py
Due: markdown-lint, poetry-lint

build: add params to mypy, black, and flake8 from their official hooks
  .pre-commit-config.yaml
Due: none

ci: add pre-commit workflow
  .github/workflows/pre-commit.yaml
Due: none

ci: add pytest job
  .github/workflows/ci.yaml
  .github/workflows/pre-commit.yaml
Due: none

ci: add pytest job
  .github/workflows/ci.yaml
Due: none

fix(kernel): remove encoding param from basicConfig which was added in py3.9; test against old python, 3.6
  wasm_spec_kernel/kernel.py
Due: none

ci: run tests against python 3.6 and 3.9
  .github/workflows/ci.yaml
Due: none

docs: add launch config for binder demo
  .binder/postBuild
  .binder/requirements.txt
Due: none

docs: add launch config for binder demo
  .binder/postBuild
  .binder/requirements.txt
  README.md
Due: markdown-lint

docs: add example_notebook.ipynb showcasing kernel features + abstypes
  README.md
  example_notebook.ipynb
Due: markdown-lint
